.admin-header {
    background: #fff;
}

.admin-left {
    width: 16%;
    float: left;
    margin-right: 1%;
}

.admin-right {
    background: #ddd;
    width: 83%;
    float: left;
}

.admin-footer {
    border-top: 1px #ccc solid;
    margin-top: 40px;
    color: #ccc;
    font-size: 13px;
}

/* permissions - checkboxes */
#permissions_field_box {
	margin-top: 10px;
}
#permissions_display_as_box {
	color: #222;
	font-size: 15px;
	line-height: 16px;
	padding: 0;
}
ul.permissions_list {
	margin-left: 5px;
}
.permissions_list li {
	color: #444;
	list-style-type: none;
	font-size: 12px ;
	line-height: 14px ;
	vertical-align: top;

}
ul.permissions_list li input {
	margin: 0 10px 10px 0;
}