.admin-header {
    background: #fff;
}

.admin-left {
    width: 19%;
    float: left;
    margin-right: 1%;
}

.admin-right {
    background: #ddd;
    width: 80%;
    float: left;
}

.admin-footer {
    border-top: 1px #ccc solid;
    margin-top: 40px;
    color: #ccc;
    font-size: 13px;
}
