.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject
/nbproject/*
*.sublime-project
*.sublime-workspace
*.idea
raa.iml
.sass-cache

node_modules

application/config/config.php
application/config/database.php

assets/css/admin.css
assets/css/main.css
assets/js/min/scripts.min.js
assets/css/admin.css.map
assets/css/main.css.map
assets/css/min/main.min.css
assets/css/min/main.min.css.map
assets/js/min/scripts.min.js.map
assets/css/min/main.tmp.css
assets/js/min/scripts.tmp.js