.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject
/nbproject/*
*.sublime-project
*.sublime-workspace
*.idea
raa.iml

node_modules

application/config/config.php
application/config/database.php