.admin-header {
    background: #fff;
}

.admin-left {
    width: 16%;
    float: left;
    margin-right: 1%;
}

.admin-right {
    width: 83%;
    float: left;
}

.admin-footer {
    border-top: 1px #ccc solid;
    margin-top: 40px;
    color: #ccc;
    font-size: 13px;
}

#ajax_list {
    background: #ddd;
}

/* permissions - checkboxes */
#permissions_field_box {
    margin-top: 10px;
}
#permissions_display_as_box {
    color: #222;
    font-size: 15px;
    line-height: 16px;
    padding: 0;
}
ul.permissions_list {
    margin-left: 5px;
}
.permissions_list li {
    color: #444;
    list-style-type: none;
    font-size: 12px ;
    line-height: 18px ;
    vertical-align: middle;
    margin-bottom: 5px;
}
ul.permissions_list li input {
    margin: 3px 10px 5px 0;
}

.login-container {
    width: 230px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
}
