.teaser-component-latest-articles {
    .teaser-collapsible-btn {
        margin-top: 10px;
    }
}

.component-latest-articles {

    margin-bottom: 25px;
    background: $color-default-white;
    border: 1px solid $color-default-grey;


    .__headline {

        position: relative;
        padding: 20px;

        h3 {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            padding: 10px 0 10px 0;
            margin-bottom: 5px;
            font-size: 32px;
            line-height: 40px;
            font-weight: 400;
        }

        .__sub {
            font-size: 14px;
            line-height: 24px;
        }

        .__read-more {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }

    }

    .__img {

        position: relative;

        img {
            width: 450px;
        }

        .__addthis-wrap {
            position: absolute;
            left: 15px;
            top: 15px;
        }
    }
}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {

    .component-latest-articles {

        .__headline {
            h3 {

                font-size: 24px;
                line-height: 30px;
            }
        }

        .__img {
            img {
                width: 400px;
            }
        }

    }
}

@media only screen and (max-width: $page-break-desktop) {

    .component-latest-articles {

        .__headline {
            .__read-more,
            .__read-more._action {

                position: absolute;
                right: 20px;
                bottom: 20px;
                background: transparent;
                color: $color-default-main;
                padding: 0px;

                &:hover {
                    background: transparent;
                    color: $color-default-main-hover;
                }

            }
        }
    }
}

@media only screen and (max-width: $page-break-tablet) {

    .component-latest-articles {

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .__headline {

            .__read-more,
            .__read-more._action {
                position: static;
                margin: 25px auto 0px;
                display: block;
                width: 250px;
                padding: 13px 30px;
                background: $color-default-main;
                color: $color-default-white;
            }

        }

        .__img {
            img {
                width: 100%;
            }
        }

    }

}

@media only screen and (max-width: $special-teaser-break) {
    
    .teaser-component-latest-articles {
        .teaser-collapsible-btn {
            display: block;
            margin: 1px (-$main-offset-mobile) 1px (-$main-offset-mobile);
        }
    }

    .component-latest-articles {

        border: none;
        margin: 0px (-$main-offset-mobile);

        .__headline {

            padding: 15px 15px 20px 15px;

            .__read-more,
            .__read-more._action {
                width: auto;
                margin: 20px auto 0px;
            }

        }

    }

}
