* {
    @include box-sizing(border-box);
}

body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 14px;
}

.iframe-body {
    overflow: hidden;
}

.flex-container {

    @include display-flex();

    &._column {
        @include flex-direction(column);
    }

    &._row {
        @include flex-direction(row);
    }

}

.flex {

    @include flex(1);
    min-width: 0px;

    &._2 {
       @include flex(2);
    }

    &._3 {
        @include flex(3);
    }

}

.main-container {
    padding: 0px $main-offset;
    max-width: 1280px;
    margin: auto;
}

img {
    display: block;
}

.img-sub {

    font-size: 11px;
    line-height: normal;
    text-align: center;
    color: $color-default-grey;

    &._commercial {
        text-align: right;
        font-size: 10px;
    }
}

.rf-img {

    float: right;
    margin: 0px 20px;

    img {
        width: 200px;
        margin: 10px 0px;
    }

}

a {

    text-decoration: none;
    cursor: pointer;

    &:hover, &:active {
        text-decoration: underline;
    }

}

.prel {
    position: relative;
}

.lazy-img {

    opacity: 0;
    @include transition(opacity .3s ease-in);

    &.loaded {
         opacity: 1;
    }

    &.transition-none {
        @include transition(none);
    }

}

.teaser-group {

    >*:first-child {
        margin-top: 25px;
    }

    &:first-child {
        >*:first-child {
            margin-top: 0;
        }
    }

    >.__row {
        >.__col {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

}

.teaser-h2,
.product-teaser-h2 {

    color: $color-default-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    padding: 13px 0px;
    
    i {
        font-size: 33px;
        margin-right: 14px;
        position: relative;
        top: -1px;
        color: $color-default-font;
    }

    .teaser-group:first-child & {
       margin-top: 0px;
    }

}

.teaser-h2 {
    border-bottom: $color-default-grey;
    margin: 0px 0px 25px 0px;
}

.product-teaser-h2 {
    margin: 0px;
}

.article-pagination + .teaser-h2 {
    margin-top: 30px;
}

.def-btn,
.def-btn:link,
.def-btn:visited {

    display: inline-block;
    padding: 13px 30px;
    color: $color-default-white;
    background: $color-default-main;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    @include border-radius(2px);
    cursor: pointer;

    &:hover {
        color: $color-default-white;
        text-decoration: none;
        background: $color-default-main;
    }

    &._big {
        padding: 22px 40px;
        font-size: 20px;
    }

    &._round {
        @include border-radius(999px);
    }

}

a.link-btn {

    display: block;
    background: $color-default-main;
    color: $color-default-white;
    text-align: center;
    width: auto;
    height: 46px;
    right: 0px;
    top: 0px;
    padding: 11px 15px 0px 15px;
    font-weight: 600;

    &:hover {
        background: $color-default-main-hover;
        color: $color-default-white;
        text-decoration: none;
    }
}

ul {

    -webkit-padding-start: 0px;
    list-style-position: outside;

    &._nostyle {
        list-style-type: none;
    }

}

.cla {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.cl {
    clear: both;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

.hidden {
    display: none;
}

.dn {
    display: none !important;
}

.flaticon:before {
    margin-left: 0px;
}

.floating-btn {
    display: none;
}

.scrollup-btn {
    width: 0px;
    height: 0px;
}

.iframe-page {

}

.mobile-visible {
    display: none;
}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {

    .main-container {
        padding: 0px $main-offset-mobile-l;
    }

}

@media only screen and (max-width: $page-break-desktop) {
    
    .teaser-group {
        >*:first-child {
            margin-top: 10px;
        }
    }

    .teaser-h2 {
        margin: 0px 0px 20px 0px;
    }
}

@media only screen and (max-width: $page-break-tablet) {

    .flex-container {
        &._desktop {

            display: block;

            .list-page & {
                @include display-flex();
                @include flex-direction(column-reverse);
            }

        }
    }

    .mobile-hidden {
        display: none !important;
    }

    .floating-btn {

        display: block;
        position: fixed;
        bottom: 60px;
        z-index: 1000200; // #at-share-dock has 1000200

        &._left {
            left: $main-offset-mobile;
        }

        &._right {
            right: $main-offset-mobile;
        }

    }

    .scrollup-btn {

        display: none;
        width: 48px;
        height: 48px;
        background: $color-default-main;
        @include border-radius(50%);
        @include box-shadow(0px 2px 4px rgba(0,0,0,0.3));

        i {
            color: $color-default-white;
            font-size: 20px;
            margin-left: 20px;
            margin-top: 14px;
        }

    }

}

@media only screen and (max-width: $page-break-ipad) {
    .desktop-visible {
        display: none;
    }

    .mobile-visible {
        display: block;
    }
}

@media only screen and (max-width: $special-teaser-break) {

    .teaser-group {
        >.__row {
            display: block;
            >.__col {
                margin-right: 0;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .teaser-h2,
    .product-teaser-h2 {

        padding: 15px;
        font-size: 20px;
        line-height: 26px;
        background: $color-default-main;
        color: $color-default-white;

        i {
            font-size: 18px;
            color: $color-default-white;
        }

        .article-page & {
            margin: 10px (-$main-offset-mobile);
        }

        .teaser-group & {
            margin-top: 0px;
        }

    }

    .teaser-h2,
    .product-teaser-h2._outsideiframe {
        margin: 0px (-$main-offset-mobile);
    }

    .teaser-h2 {
        border-bottom: none;
    }

    .def-btn,
    .def-btn:link,
    .def-btn:visited {
        &._big {
            padding: 19px 21px;
            font-size: 18px;
        }
    }

}

@media only screen and (max-width: $page-break-phone) {

    .teaser-h2 {
        padding: 10px $main-offset-mobile;
        font-size: 16px;
        line-height: 22px;
        i {
            margin-right: 12px;
        }
    }

}