@mixin flex-center() {
    @include justify-content(center);
    @include align-items(center);
}

@mixin flex-left-center() {
    @include justify-content(flex-start);
    @include align-items(center);
}

@mixin flex-right-center() {
    @include justify-content(flex-end);
    @include align-items(center);
}

@mixin flex-left-top() {
    @include justify-content(flex-start);
    @include align-items(flex-start);
}

@mixin flex-right-top() {
    @include justify-content(flex-end);
    @include align-items(flex-start);
}

@mixin flex-column-left-center() {
    @include justify-content(center);
    @include align-items(flex-start);
}

@mixin slideshow-arrows() {
    .flex-direction-nav {
        .flex-next,
        .flex-prev {
            font-size: 0px;
            line-height: 0px;
        }

        a:before {
            font-family: sans-serif;
            display: block;
            content: '';
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate3d(-50%, -50%, 0));
        }

        a.flex-prev:before {
            border-right: 10px solid $color-default-white;
        }

        a.flex-next:before {
            border-left: 10px solid $color-default-white;
        }
    }
}

@mixin linkreset($color) {
    a, a:link, a:hover, a:active, a:visited  {
        color: $color;
        text-decoration: none;
    }
}