$product-teaser-arrow-width: 50px;
$product-teaser-arrow-height: $product-teaser-arrow-width/100*188.425;
$product-teaser-arrow-width-medium: 25px;
$product-teaser-arrow-height-medium: $product-teaser-arrow-width-medium/100*188.425;
$product-teaser-arrow-width-small: 20px;
$product-teaser-arrow-height-small: $product-teaser-arrow-width-small/100*188.425;
$cta-height: 60px;

@mixin product-teaser-column() {

    .__item {
        height: auto;
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .__info {
        @include flex-direction(column);
    }

    .__img-wrapper {
        margin: 0 auto;
    }

    .__texts {
        display: block;
        text-align: center;
        margin: 0 12% 0 12%;
        padding-top: 8%;
        .__minheight {
            min-height: auto;
        }
    }
}

.product-teaser-iframe {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden ;
}

.product-teaser {

    border: 1px solid $color-default-grey;
    padding-bottom: $cta-height;
    position: relative;

    .__commercial {
        position: absolute;
        font-size: 10px;
        line-height: 12px;
        padding: 1px 3px;
        top: 1px;
        right: 1px;
    }

    .flexslider {

        border: none;
        margin: 0px;
        background: transparent;
        
        .flex-direction-nav,
        &:hover .flex-direction-nav {
            a {
                width: $product-teaser-arrow-width-medium;
                height: $product-teaser-arrow-height-medium;
                margin-top: -($product-teaser-arrow-height-medium/2);
                &:before {
                    content: '';
                    display: block;
                    width: $product-teaser-arrow-width-medium*2;
                    height: $product-teaser-arrow-height-medium;
                    background-image: url(/assets/images/chevrons_big.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .flex-prev,
            .flex-next {
                opacity: 0.5;
                &:hover {
                    opacity: 0.8;
                }
            }
            .flex-prev {
                left: 4%;
            }
            .flex-next {
                right: 4%;
                &:before {
                    margin-left: -$product-teaser-arrow-width-medium;
                }
            }
        }

        .flex-control-nav {
            display: none;
        }

    }

    .__item {

        height: 450px;

        a {

            display: block;
            height: 100%;
            color: $color-default-font;
            
            &:hover {
                color: $color-default-font;
                text-decoration: none;
            }

        }
    
    }

    .__info {
        height: 100%;
    }

    .__img-wrapper {
        margin: 100px 4% 0 12%;
        position: relative;
    }

    .__img {
        width: 250px;
        height: 250px;
        position: relative;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate3d(-50%, -50%, 0));
        }
    }

    .__caption {
        margin-top: 5px;
    }

    .__texts {
        @include flex-column-left-center();
        margin: 4% 12% 0 0;
        .__minheight {
            min-height: 75%;
        }
    }

    .duty-text-trigger {
        margin-top: 5px;
        text-align: center;
        font-size: 12px;
        &:hover {
            text-decoration: underline;
        }
    }

    .duty-text-content {

        display: none;
        cursor: default;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 11;
        width: 400px;
        font-size: 12px;
        padding: 10px 15px 10px 15px;
        background: #f9f9f9;
        @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));

        &._vis {
            display: block;
        }
    }

    .duty-text-close {
        cursor: pointer;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 10px;
        right: 10px;
    }

    .__text {
        font-size: 31px;
        line-height: 44px;
        font-weight: 600;
    }

    .__cta {
        position: absolute;
        font-size: 18px;
        height: $cta-height;
        padding: 18px 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include border-radius(0);
    }

}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {
	.product-teaser {
	    .__img {
	    	width: 200px;
			height: 200px;
	    }
	}
}

@media only screen and (max-width: $page-break-tablet) {
	.product-teaser {
        @include product-teaser-column();
        .duty-text-content {
            left: -50%;
        }
    }
}

@media only screen and (max-width: $special-teaser-break) {
	.product-teaser {

		border: none;
        padding-bottom: $cta-height + 10px;

		.flexslider {

	        .flex-direction-nav,
	        &:hover .flex-direction-nav {
				
				a {
					width: $product-teaser-arrow-width-small;
					height: $product-teaser-arrow-height-small;
                    margin-top: -($product-teaser-arrow-height-small/2);
					&:before {
						width: $product-teaser-arrow-width-small*2;
						height: $product-teaser-arrow-height-small;
					}
				}

	            .flex-next {
	                &:before {
	                	margin-left: -$product-teaser-arrow-width-small;
	                }
	            }

	        }

	    }

		.__img {
			width: 175px;
			height: 175px;
		}

	    .__text {
			font-size: 20px;
	    	line-height: 28px;
		}

        .__cta {
            bottom: 10px;
            left: $main-offset-mobile;
            right: $main-offset-mobile;
        }

	}

}