.teaser-image-and-dropdown {
    
    height: 100%;
    padding-bottom: 121px;
    position: relative;

    .__teaser {

        display: block;
        color: $color-default-font;
        @include linkreset($color-default-font);
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
        
    }

    .__title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 9px;
        margin-bottom: 17px;
        border-bottom: 1px solid $color-default-grey;
    }

    .__img {
        margin-bottom: 10px;
    }

    img {
        display: block;
        width: 100%;
    }

    .__btn {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 61px;
    }
    
    .chosen-select,
    .chosen-container {
        position: absolute;
        left: 0;
        bottom: 0;
    }

}

@media only screen and (max-width: $page-break-phone) {

    .teaser-image-and-dropdown {
        
        .__title {
            font-size: 24px;
            line-height: 34px;
            padding-bottom: 6px;
            margin-bottom: 15px;
        }

    }

}