.teaser-1-big-left-4-small-right {

    .__main {

        margin-right: 15px;
        height: 375px;
        cursor: pointer;

        @include linkreset($color-default-white);

        .__img {
            
            @include flex(1);
            position: relative;
            overflow: hidden;

            img {
                height: 100%;
                position: absolute;
                left: 50%;
                @include transform(translate3d(-50%, 0, 0));
            }

        }

        .__info {
            width: 50%;
            padding: 15px 20px;
            background: $color-default-main;
            color: $color-default-white;
            position: relative;
        }

        .__headline {
            display: block;
            font-size: 24px;
            line-height: 33px;
            padding-bottom: 10px;
        }

        .__readmore {

            position: absolute;
            bottom: 15px;
            right: 20px;

            &:hover,&:active {
                text-decoration: underline;
            }
        }

    }

    .__minis {

        width: 375px;

        .__mini-item {

            display: block;
            width: 180px;
            height: 180px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            @include linkreset($color-default-white);

            &:first-child {
                margin-right: 15px;
            }

            .__img {

                padding-top: 100%;
                position: relative;

                img {
                    width: auto;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    @include transform(translate3d(-50%, 0, 0));
                }
            }

            .__title {
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                @include background-image(linear-gradient(transparent, rgba(0,0,0,0.75)));
                font-size: 16px;
                line-height: 23px;
                font-weight: 400;
                padding: 26px 13px 12px 13px;
            }

            &:hover {
                .__img {
                    @include filter(blur(1px) brightness(115%));
                }
            }

        }

        .__row {
            &:first-child {
                margin-bottom: 15px;
            }
        }

    }

    p {
        margin: 0;
    }

}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {

    .teaser-1-big-left-4-small-right {

        display: block;

        .__main {

            height: 300px;
            margin-right: 0px;
            margin-bottom: 15px;

            .__img { 
                @include flex(none);
                width: 300px;
            }

            .__info {
                width: auto;
                @include flex(1);
            }

        }

        .__minis {
            
            width: 100%;
            @include flex-direction(row);

            .__row {

                @include flex(1);

                .__mini-item {
                    width: auto;
                    height: auto;
                    @include flex(1);
                }

                &:first-child {

                    margin-bottom: 0px;

                    .__mini-item {

                        margin-right: 16px;

                        &:last-child {
                           margin-right: 8px;
                        }

                    }

                }

                &:last-child {

                    .__mini-item {

                        margin-right: 0px;
                        margin-left: 8px;

                        &:last-child {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: $page-break-tablet) {
    .teaser-1-big-left-4-small-right {

        .__main {
            margin-bottom: 10px;
        }

        .__minis {
            .__row {

                .__mini-item {
                    &:hover {
                        .__img {
                            @include filter(none);
                        }
                    }
                }


                &:first-child {
                    .__mini-item {
                        margin-right: 10px;
                        &:last-child {
                           margin-right: 5px;
                        }
                    }

                }

                &:last-child {
                    .__mini-item {
                        margin-left: 5px;
                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                }

            }
        }

    }
}

@media only screen and (max-width: $page-break-ipad) {
    .teaser-1-big-left-4-small-right {
        .__main {

            display: block;
            height: auto;
            
            .__img {
            
                position: static;
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                    position: static;
                    @include transform(translate3d(0, 0, 0));
                }

            }

            .__info {
                width: 100%;
                padding-bottom: 35px;
            }

        }

        .__minis {
            .__row {
                .__mini-item {
                    .__title {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $special-teaser-break) {

    .teaser-1-big-left-4-small-right {

        .__main {

            display: block;
            position: relative;
            height: auto;
            padding: $main-offset-mobile 0px;
            border-bottom: 1px solid $color-default-grey;
            margin: 0px;

            &:after {
                display: block;
                content: '';
                clear: both;
            }

            @include linkreset($color-default-font);

            .__img {
                
                @include flex(none);
                width: 80px;
                float: left;

                img {
                    width: 100%;
                    height: auto;
                    position: static;
                    @include transform(translate3d(0, 0, 0));
                }

            }

            .__info {
                width: auto;
                margin-left: 90px;
                padding: 0px 20px 0px 0px;
                background: transparent;
                position: static;
            }

            .__headline {
                color: $color-default-font;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0px;
                padding: 0px;
                font-weight: 600;
                border-bottom: none;
                overflow: hidden;
            }

            .__text {
                display: none;
            }

            .__readmore {
                font-size: 0px;
                width: 0px;
                height: 0px;
                top: 50%;
                right: 0px;
                bottom: auto;
                transform: translate(0, -50%);
                border-left: 5px solid $color-default-main;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }

        }

        .__minis {

            display: block;

            .__row {

                display: block;

                .__mini-item {

                    width: auto;
                    height: auto;
                    border-bottom: 1px solid $color-default-grey;
                    margin: 0px;
                    padding: $main-offset-mobile 0px;

                    &:after {
                        display: block;
                        content: '';
                        clear: both;
                    }

                    @include linkreset($color-default-font);

                    &:hover, &:active {
                        text-decoration: none;
                    }

                    .__img {
                        
                        padding-top: 0;
                        position: static;
                        width: 80px;
                        float: left;

                        img {
                            width: 100%;
                            height: auto;
                            position: static;
                            @include transform(translate3d(0, 0, 0));
                        }
                    }

                    .__title {
                        margin-left: 90px;
                        position: static;
                        color: $color-default-font;
                        background: transparent;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        text-align: left;
                        padding: 0px;
                        margin-right: 20px;
                        transform: translate(0, 0);
                        overflow: hidden;
                    }

                    .__readmore {
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        top: 50%;
                        right: 0px;
                        transform: translate(0, -50%);
                        border-left: 5px solid $color-default-main;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                    }

                }

                &:first-child {
                    .__mini-item {
                        margin-right: 0px;
                        &:last-child {
                           margin-right: 0px;
                        }
                    }
                }

                &:last-child {

                    margin-bottom: 0px;

                    .__mini-item {

                        margin-right: 0px;
                        margin-left: 0px;

                        &:last-child {
                            margin-left: 0px;
                            border-bottom: none;
                        }

                    }
                }
            }

        }
    }
}