.teaser-1-big-top-6-small-bottom {

    .__main {

        margin-bottom: 15px;
        cursor: pointer;

        a, a:link, a:hover, a:active  {
            color: $color-default-white;
            text-decoration: none;
        }

        .__img {

            img {
                width: 350px;
            }

        }

        .__info {
            padding: 15px 20px;
            background: $color-default-main;
            color: $color-default-white;
            position: relative;
        }

        .__headline {
            display: block;
            font-size: 24px;
            line-height: 33px;
            padding-bottom: 10px;
        }

        .__readmore {

            position: absolute;
            bottom: 15px;
            right: 20px;

            &:hover, &:active {
                text-decoration: underline;
            }
        }

    }

    .__minis {

        .__mini-item {
            
            display: block;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            a, a:link, a:hover, a:active  {
                color: $color-default-white;
                text-decoration: none;
            }

            .__img {

                padding-top: 100%;
                position: relative;

                img {
                    position: absolute;
                    width: auto;
                    height: 100%;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

            }

            .__title {       
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                color: $color-default-white;
                @include background-image(linear-gradient(transparent, rgba(0,0,0,0.75)));
                font-size: 16px;
                line-height: 23px;
                font-weight: 400;
                padding: 26px 13px 12px 13px;
            }

            &:hover {
                .__img {
                    @include filter(blur(1px) brightness(115%));
                }
            }

        }

        .__first {
            .__mini-item {
                margin-right: 16px;
                &:last-child {
                    margin-right: 8px;
                }
            }
        }

        .__second {
            .__mini-item {
                margin-left: 16px;
                &:first-child {
                    margin-left: 8px;
                }
            }
        }

    }

    p {
        margin: 0;
    }

}

@media only screen and (max-width: $page-break-page-width) {
    .teaser-1-big-top-6-small-bottom {
        .__minis {
            .__mini-item {
                .__title {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: $page-break-desktop) {

    .teaser-1-big-top-6-small-bottom {

        .__main {

            height: 300px;

            .__img {

                position: relative;
                overflow: hidden;

                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                img {
                    width: auto;
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    @include transform(translate3d(-50%, 0, 0));
                }

            }

            .__info {
                width: 70%;
                @include flex(none);
            }
        }
    }
}

@media only screen and (max-width: $page-break-tablet) {

    .teaser-1-big-top-6-small-bottom {

        .__main {

            display: block;
            height: auto;
            margin-bottom: 10px;

            .__img {

                position: static;               

                img {
                    position: static;
                    width: 100%;
                    height: auto;
                    @include transform(translate3d(0, 0, 0));
                }

            }

            .__info {
                width: 100%;
                padding-bottom: 45px;
            }

        }

        .__minis {

            display: block;

            .__mini-item {

                .__title {
                    font-size: 16px;
                    line-height: 23px;
                }

                &:hover {
                    .__img {
                        @include filter(none);
                    }
                }

            }

            .__first {
                margin-bottom: 10px;
                .__mini-item {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            .__second {
                .__mini-item {
                    margin-left: 10px;
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: $special-teaser-break) {

    .teaser-1-big-top-6-small-bottom {

        .__main {

            position: relative;
            height: auto;
            padding: $main-offset-mobile 0px;
            border-bottom: 1px solid $color-default-grey;
            margin-bottom: 0;

            &:after {
                display: block;
                content: '';
                clear: both;
            }

            a, a:link, a:hover, a:active  {
                color: $color-default-font;
            }

            .__img {
                width: 80px;
                height: auto;
                float: left;
            }

            .__info {
                width: auto;
                margin-left: 90px;
                padding: 0px 20px 0px 0px;
                background: transparent;
                position: static;
            }

            .__headline {
                color: $color-default-font;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0px;
                padding: 0px;
                font-weight: 600;
                border-bottom: none;
                overflow: hidden;
            }

            .__text {
                display: none;
            }

            .__readmore {
                font-size: 0px;
                width: 0px;
                height: 0px;
                top: 50%;
                right: 0px;
                bottom: auto;
                transform: translate(0, -50%);
                border-left: 5px solid $color-default-main;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }

        }

        .__minis {

            .__first,
            .__second {
                display: block;
            }

            .__mini-item {

                width: auto;
                height: auto;
                border-bottom: 1px solid $color-default-grey;
                margin: 0px;
                padding: $main-offset-mobile 0px;

                &:after {
                    display: block;
                    content: '';
                    clear: both;
                }

                a, a:link, a:hover, a:active  {
                    color: $color-default-font;
                }

                .__img {

                    width: 80px;
                    float: left;
                    padding-top: 0;
                    position: static;

                    img {
                        width: 100%;
                        height: auto;
                        position: static;
                        @include transform(translate3d(0, 0, 0));
                    }
                }

                .__title {
                    margin-left: 90px;
                    position: static;
                    color: $color-default-font;
                    background: transparent;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    text-align: left;
                    padding: 0px;
                    margin-right: 20px;
                    transform: translate(0, 0);
                    overflow: hidden;
                }

                .__readmore {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    top: 50%;
                    right: 0px;
                    transform: translate(0, -50%);
                    border-left: 5px solid $color-default-main;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                }

            }

            .__first {
                margin-bottom: 0px;
                .__mini-item {
                    margin-right: 0px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            .__second {
                .__mini-item {
                    margin-left: 0px;
                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

        }
    }

}