.teaser-1-slideshow-left-3-small-right {
    
    position: relative;
    width: 100%;
    height: 430px;
    margin-bottom: 15px;
    
    .slideshow-container {
        width: 730px;
        border: 2px solid $color-default-grey-2;
    }

    .ph {
        width: 100%;
    }

    .flexslider {
        border: none;
        margin: 0px;
        height: 100%;

        &:hover {

            .flex-direction-nav {

                .flex-prev {
                    left: 0px;
                }

                .flex-next {
                    right: 0px;
                }

            }

        }

    }

    .slides {

        position: relative;
        overflow: hidden;
        height: 100%;

        > li {
            height: 100%;
        }

        .__info {

            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            top: 33%;
            @include background-image(linear-gradient(transparent, rgba(0,0,0,0.5)));
            color: white;    
            
            .__inner {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                padding: 0px 30px 20px 30px;
            }

            .__title {
                font-size: 14px;
                line-height: 23px;
            }

            .__text {
                font-size: 34px;
                line-height: 48px;
            }

        }

        img {
            position: absolute;
            top: 50%;
            @include transform(translate3d(0, -50%, 0));
        }

        a {
            display: block;
            position: relative;
            height: 100%;
        }

        &:hover {
            .__info {
                top: 0px;
            }
        }

    }

    .flex-direction-nav {

        .flex-next,
        .flex-prev {
            font-size: 0px;
            line-height: 0px;
        }

        a:before {
            font-family: sans-serif;
            display: block;
            content: '';
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate3d(-50%, -50%, 0));
        }

        a.flex-prev:before {
            border-right: 10px solid $color-default-white;
        }

        a.flex-next:before {
            border-left: 10px solid $color-default-white;
        }

    }

    .flex-control-thumbs {
        display: none;
    }

    .__minis {

        border: 2px solid $color-default-grey-2;
        border-left: none;
        padding: 30px;

        .__headline {
            height: 42px;
            font-size: 30px;
            line-height: 22px;
            border-bottom: 1px dotted $color-default-grey;
        }

        .__mini-item {
            
            height: (430px - (2*30px) - (2*2px) - 42px - (3 * 15px))/3; // (height - paddings - borders - headline - margins)/3
            margin-top: 15px;

            .__img {

                height: 100%;
                position: relative;

                img {
                    height: 100%;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    background: $color-default-grey;
                    opacity: 0;
                    @include transition(opacity .2s ease-in-out);
                }

            }

            .__info {

                padding: 0px 0px 0px 15px;

                .__title {  
                    font-size: 13px;
                    margin-top: -6px;
                    margin-bottom: -2px;
                }
                
                .__text {
                    font-size: 18px;
                    line-height: 26px;
                }

            }

            &:hover {

                text-decoration: none;

                .__img {
                    &:after {
                        opacity: 0.3;
                    }
                }

            }

        }

    }

}

@media only screen and (max-width: $page-break-page-width) {
    
    .teaser-1-slideshow-left-3-small-right {

        height: 409px;

        .slideshow-container {
            width: 600px;
        }

        .__minis {
            padding: 25px;
            .__mini-item {
                height: (409px - (2*25px) - (2*2px) - 42px - (3 * 15px))/3; // (height - paddings - borders - headline - margins)/3
            }
        }

    }

}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {

    .teaser-1-slideshow-left-3-small-right {
        
        height: 366px;

        .slideshow-container {
            width: 550px;
        }

        .flexslider {
            
            .flex-direction-nav {
                
                .flex-prev,
                .flex-next {
                    opacity: 1;
                    top: 25px;
                }

                .flex-prev {
                    left: 0px;                   
                }

                .flex-next {
                    right: 0px;
                }

            }

        }

        .__minis {
            padding: 20px;
            .__mini-item {
                height: (366px - (2*20px) - (2*2px) - 42px - (3 * 15px))/3; // (height - paddings - borders - headline - margins)/3
            }
        }

    }

}

@media only screen and (max-width: $page-break-desktop) {

    .teaser-1-slideshow-left-3-small-right {
        
        display: block;
        height: auto;

        .slideshow-container {
            width: 100%;
            height: 400px;
        }

        .__minis {

            border-left: 2px solid $color-default-grey-2;
            border-top: none;
            
            .__headline {
                font-size: 36px;
                line-height: 50px;
                height: auto;
                padding: 0px 0px 13px 0px;
            }

            .__mini-item {
                
                height: 166px;
                padding-bottom: 15px;
                border-bottom: 1px solid $color-default-grey;
                position: relative;

                .__info {

                    padding: 0px 15px;               

                    .__title {  
                        font-size: 13px;
                        margin-bottom: -2px;
                    }
                    
                    .__text {
                        font-size: 20px;
                        line-height: 30px;
                    }

                }

                &:after {
                    display: block;
                    content: 'Mehr erfahren';
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    font-size: 20px;
                }

                &:last-child {
                    height: 150px;
                    padding-bottom: 0px;
                    border-bottom: none;
                }

            }

        }

        .slides {
            .__info {
                .__inner {
                    padding: 0px 20px 15px 20px;
                }
            }
        }

    }

}

@media only screen and (max-width: $page-break-ipad) {
    .teaser-1-slideshow-left-3-small-right {

        .slideshow-container {
            width: auto;
            height: 350px;
            margin-left: -$main-offset-mobile;
            margin-right: -$main-offset-mobile;
            border: none;
            border-bottom: 2px solid $color-default-grey-2;
        }

        .__minis {
            margin-left: -$main-offset-mobile;
            margin-right: -$main-offset-mobile;
            border: none;
            border-bottom: 2px solid $color-default-grey-2;
        }
    
    }
}

@media only screen and (max-width: $special-teaser-break) {
    .teaser-1-slideshow-left-3-small-right {
    
        margin-bottom: 0px;

        .slideshow-container {
            height: 270px;
            border-bottom: none;
        }

        .slides {
            .__info {   
                
                .__inner {
                    padding: 0px 20px 15px 20px;
                }

                .__title {
                    margin-bottom: -3px;
                }

                .__text {
                    font-size: 26px;
                    line-height: 42px;
                }

            }
        }

        .__minis {
            
            padding: 15px;
            border-bottom: none;

            .__headline {
                margin: -15px -15px 0 -15px;
                padding: 10px $main-offset-mobile;
                font-size: 16px;
                line-height: 22px;
                background: $color-default-main;
                color: $color-default-white;
                border-bottom: none;
            }

            .__mini-item {

                height: 141px;
                
                .__info {
                    .__text {
                        font-size: 14px;
                        line-height: 23px;
                    }
                }

                &:after {
                    display: none;
                }

                &:last-child {
                    height: 125px;
                }

            }

        }

    }

}

@media only screen and (max-width: $page-break-phone) {
    .teaser-1-slideshow-left-3-small-right {
        
        .slideshow-container {
            height: 200px;
        }

        .slides {
            .__info {   
                
                .__inner {
                    padding: 0px 15px 10px 15px;
                }

                .__title {
                    font-size: 13px;
                    line-height: 21px;
                    margin-bottom: -3px;
                }

                .__text {
                    font-size: 22px;
                    line-height: 36px;
                }

            }
        }

        .__minis {
            .__mini-item {

                height: 106px;

                .__info {
                    padding: 0px 10px;
                }

                &:last-child {
                    height: 90px;
                }

            }
        }
    }

}

@media only screen and (max-width: $page-break-phone-small) {
    .teaser-1-slideshow-left-3-small-right {    
        .__minis {
            .__mini-item {
                .__info {
                    .__title {  
                        display: none;
                    }
                }
            }
        }
    }
}