.teaser-default {

    .__teaser-row {

        margin-bottom: 30px;
        border-bottom: 1px solid $color-default-grey;

        &:last-child {
            margin-bottom: 0px;
        }

    }

    .__item {

        margin-right: 25px;
        color: $color-default-font;
        padding-bottom: 20px;
        display: block;
        cursor: pointer;

        @include linkreset($color-default-font);

        .__part {
            display: block;
        }

        .img {

            display: block;
            cursor: pointer;

            &._hover-mask {

                display: block;
                position: relative;

                &:after {
                    content:'';
                    display: block;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    background: $color-default-main;
                    opacity: 0;
                    @include transition(opacity .05s ease-in);
                }

            }

        }

        img {
            width: 100%;
        }

        .__teaser-title {

            color: $color-default-font;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 600;

        }


        .__teaser-text,
        .__teaser-text span {
            font-size: 13px;
            line-height: 21px;
        }

        .__teaser-text p {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .__teaser-text {
            overflow: hidden;
            margin-bottom: 5px;
        }

        .__teaser-more {
            color: $color-default-main;
            text-align: right;
        }

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            
            .img {
                &._hover-mask {
                    &:after {
                        opacity: 0.3;
                    }
                }
            }

            .__teaser-title,
            .__teaser-more {
                text-decoration: underline;
            }
        }
    }
}

.mobile-device .teaser-default {
    .__item {
        &:hover {
            .img {
                &._hover-mask {
                    &:after {
                        opacity: 0;
                    }
                }
            }
            .__teaser-title,
            .__teaser-more {
                text-decoration: none;
            }
        }
    }
}


@media only screen and (max-width: $special-teaser-break) {

    .teaser-default {

        .__teaser-row {
            display: block;
            border-bottom: none;
            margin-bottom: 0px;
        }

        .__item {

            position: relative;
            border-bottom: 1px solid $color-default-grey;
            margin: 0px;
            padding: $main-offset-mobile 0px;

            &._last {
                margin-bottom: 0px;
                border-bottom: none;
            }

            &._dummy {
                display: none;
            }

            &:after {
                display: block;
                content: '';
                clear: both;
            }

            .img {
                width: 80px;
                float: left;
            }

            .__info {
                margin-left: 90px;
                padding-right: 20px;
            }

            .__teaser-title {
                padding: 0px;
                font-size: 16px;
                overflow: hidden;
            }

            .__teaser-text {
                display: none;
            }

            .__teaser-more {
                font-size: 0px;
                width: 0px;
                height: 0px;
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translate(0, -50%);
                border-left: 5px solid $color-default-main;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;

            }

        }

        .teaser-collapsible-btn {
            margin: 15px 0px;
        }

    }

}