.teaser-1-slideshow-left-3-small-right {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 0px;

    .ph {
        width: 100%;
    }

    .slideshow-container {
      display: inline-block;
      vertical-align: middle;
      width: 63%;
    }

    .flexslider {
        border: none;
        margin: 0px;
        height: 100%;

        &:hover {

            .flex-direction-nav {

                .flex-prev {
                    left: 0px;
                }

                .flex-next {
                    right: 0px;
                }

            }

        }

    }

    .slides {
        position: relative;
        overflow: hidden;

        .__info {
            position: absolute;
            bottom: 1px;
            left: 1px;
            right: 1px;
            padding: 10px 20px 20px;
            background: $color-default-white;
            opacity: 0.8;

            .__title {
                font-size: 14px;
                line-height: 18px;
            }

            .__text {
                font-size: 22px;
                line-height: 28px;
                font-weight: 600;
            }

        }

        a {
            display: block;
            position: relative;
        }

    }

    .flex-direction-nav {

        .flex-next,
        .flex-prev {
            font-size: 0px;
            line-height: 0px;
        }

        a:before {
            font-family: sans-serif;
            display: block;
            content: '';
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate3d(-50%, -50%, 0));
        }

        a.flex-prev:before {
            border-right: 10px solid $color-default-white;
        }

        a.flex-next:before {
            border-left: 10px solid $color-default-white;
        }

    }

    .flex-control-thumbs {
        display: none;
    }

    .__minis {
        width: 37%;
        padding-left: 1%;
        display: inline-block;;
        vertical-align: middle;

        .__mini-item {

            height: 132px;
            position: relative;
            overflow: hidden;
            margin-bottom: 13px;
            border: 1px solid $color-default-grey;

            .__img {
                img {
                    height: 100%;
                }
            }

            .__text {

                padding: 10px;
                font-size: 14px;
                line-height: 16px;

                .category {
                    color: $color-default-font;
                    font-size: 10px;
                    line-height: 12px;
                    display: block;
                    margin-bottom: 5px;
                }

            }

            &:last-child {
              margin-bottom: 0px;
            }

            &:hover {
                text-decoration: none;
                border-color: $color-default-main-hover;
            }

        }

    }

}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {

    .teaser-1-slideshow-left-3-small-right {

        .slides {

            .__info {

                .__title {
                    font-size: 12px;
                    line-height: 14px;
                }

                .__text {
                    font-size: 20px;
                    line-height: 26px;
                }

            }

        }

        .__minis {

            .__mini-item {
                height: 106px;

                .__text {
                    font-size: 12px;
                    line-height: 16px;
                }

            }

        }

    }

}

@media only screen and (max-width: $page-break-ipad) {

    .teaser-1-slideshow-left-3-small-right {
        margin-top: 15px;

        .slides {

            .__info {

                .__text {
                    font-size: 18px;
                    line-height: 20px;
                }

            }

        }


        .__minis {

            .__mini-item {
                height: 80px;
                margin-bottom: 10px;

                .__text {
                    padding: 2%;

                    .category {
                        display: none;
                    }

                }

            }

        }

    }

}

@media only screen and (max-width: $special-teaser-break) {

  .teaser-1-slideshow-left-3-small-right {
      display: block;
      width: 100%;

      .slideshow-container {
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }

      .__minis {
        display: block;
        padding: 0px;
        width: 100%;

          .__mini-item {
              height: 80px;
              margin-bottom: 10px;
          }

      }

  }

}

@media only screen and (max-width: $page-break-phone) {

    .teaser-1-slideshow-left-3-small-right {
        display: block;
        width: 100%;

        .slideshow-container {
          display: block;
          width: 100%;
          margin-bottom: 15px;
        }

        .slides {

            .__info {
                padding: 10px;
                left: 0px;
                bottom: 0px;
                right: 0px;

                .__text {
                    font-size: 16px;
                    line-height: 18px;
                }

            }

        }

        .__minis {
          display: block;
          padding: 0px;
          width: 100%;

            .__mini-item {
                height: 80px;
                margin-bottom: 10px;
            }

        }

    }

}
