.teaser-flex-only-images {

    .__item {
        
        margin-right: 25px;
        display: block;

        .__img {
            img {
                width: 100%;
                height: auto;
            }
        }

        &:last-child {
            margin-right: 0;
        }

    }

}

@media only screen and (max-width: $special-teaser-break) {

    .teaser-flex-only-images {

        display: block;

        .__item {
            margin: 10px 0;
        }

    }

}
