/* sizes and page breaks*/
$page-break-phone: 414px;
$special-teaser-break: 600px;
$special-teaser-break-ipad-ls: 1024px;
$page-break-ipad: 768px;
$page-break-tablet: 800px;
$page-break-desktop: 992px;

$mobile-header-height: 66px;