.content-container {
	padding: 25px 0;
}

.content-wrapper {

	margin-right: 30px;
	padding-left: 15px;

	h2 {
		color: $main-color;
		line-height: 34px;
		font-size: 24px;
		font-weight: normal;
		-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
    	padding-bottom: 15px;
	}

}

.content-img-wrapper {
	float: right;
	margin: 5px 0px 10px 15px;

	img {
		max-width: 350px;
	}

}

.content-content {

	padding-bottom: 15px;

	p {
		-webkit-margin-before: 0;
	}

}

.content-disclaimer {

	padding: 15px;
	border: 1px solid $neutral-color;

	span {
		display: inline-block;
		color: $main-color;
		font-weight: bold;
		padding-bottom: 3px;
	}

}

@media only screen and (max-width: $page-break-tablet) {

	.content-img-wrapper {

		float: none;
		margin: 0px 0px 15px 0px;

		img {
			max-width: 100%;
			width: 100%;
		}

	}

}

@media only screen and (max-width: $page-break-ipad - 1) {

	.content-container {
		display: block;
		padding: 20px 0;
	}

	.content-wrapper {
		margin-right: 0px;
		padding-left: 0px;
	}

}