.content-container {

	padding: 25px 0px;

	h1 {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		color: $white-color;
		padding: 7px 15px;
	    background: $main-color-80pct;
	    margin-bottom: 25px;
	    font-size: 20px;
	    line-height: 32px;
	    font-weight: 500;
	}

}

.content-wrapper {

	margin-right: 35px;

}

.content-img-wrapper {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 40%;

	img {
		width: 100%;
	}

}

.content-content {

	padding-bottom: 20px;

	&._article {
		padding-left: 10px;
	}

	h2 {
		font-size: 18px;
		line-height: 28px;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	h3 {
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	p {
		-webkit-margin-before: 0;
		margin-bottom: 15px;
	}

	b, strong {
		font-weight: 600;
	}

	ul, ol {
		margin-left: 35px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	li {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0px;
		}
	}

	blockquote {

		border: 1px dotted $main-color-40pct;
		margin: 25px 0px;
		padding: 15px 20px 15px 20px;
		background: $main-color-05pct;

		h3 {
			margin-top: 5px;
			margin-bottom: 15px;
			text-align: center;
		}

		ol, ul {
			margin-left: 0px;
			-webkit-padding-start: 20px;
		}

	}

}

.content-disclaimer {

	padding: 10px 15px 12px 15px;
	border: 1px dotted $neutral-color;
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 22px;

	.__title {
		color: $main-color;
		padding-bottom: 3px;
	}
	.__sub {
		padding-top: 3px;
	}

}

.sharing-box {


	margin-top: 25px;
	margin-bottom: 15px;

	padding: 15px;
	background: $light-grey-color;

	position: relative;

	.__title {
		color: $font-grey-color;
		padding-right: 173px;
	}

	.addthis_sharing_toolbox {
		position: absolute;
		line-height: 0px;
		// width: 158px;
		top: 50%;
		right: 15px;
		@include transform(translate3d(0, -50%, 0));
	}

	.at-share-tbx-element {

		.at-share-btn {

			margin: 0px 5px;

			&:first-child {
				margin-left: 0px;
			}

			&:last-child {
				margin-right: 0px;
			}
		}

	}

}

@media only screen and (max-width: $page-break-tablet) {

	.content-container {
		padding: 20px 0px;
	}

	.content-wrapper {
		margin-right: 0px;
	}

	.content-img-wrapper {

		float: none;
		margin: 0px 0px 15px 0px;
		width: 100%;

	}

	.content-content {

		&._article {
			padding-left: 0px;
		}

	}

}

@media only screen and (max-width: $special-teaser-break) {

	.sharing-box {
		.__title {
			span {
				display: block;
			}
		}
	}


}

@media only screen and (max-width: $page-break-phone) {

	.sharing-box {

		.__title {
			padding-right: 0px;
			padding-bottom: 15px;
			text-align: center;
		}

		.addthis_sharing_toolbox {
			text-align: center;
			position: static;
			@include transform(translate3d(0, 0, 0));
		}


	}


}