.content-container {

	padding: 25px 0px;

	h1 {
		color: $main-color;
		line-height: 34px;
		font-size: 24px;
		font-weight: 600;
		-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
    	padding-bottom: 20px;

    	&._bar {
    		color: $white-color;
    		padding: 6px 10px;
		    background: $main-color-80pct;
		    margin-bottom: 25px;
		    font-size: 18px;
		    font-weight: 500;
    	}

	}

}

.content-wrapper {

	margin-right: 35px;

}

.content-img-wrapper {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 40%;

	img {
		width: 100%;
	}

}

.content-content {

	margin-bottom: 15px;

	p {
		-webkit-margin-before: 0;
	}

}

.content-disclaimer {

	padding: 10px 15px 12px 15px;
	border: 1px dotted $neutral-color;
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 22px;

	.__title {
		color: $main-color;
		padding-bottom: 3px;
	}
	.__sub {
		padding-top: 3px;
	}

}

.sharing-box {


	margin-top: 25px;
	margin-bottom: 15px;

	padding: 15px;
	background: $light-grey-color;

	.__title {
		color: $font-grey-color;
		padding-top: 4px;
		padding-right: 10px;
	}

	.list-page & {
		border-top: 1px dotted $neutral-color;
		padding-top: 25px;
		margin-top: 15px;
	}

	.addthis_sharing_toolbox {
		text-align: right;
		line-height: 0px;
	}

	.at-share-tbx-element {

		.at-share-btn {

			margin: 0px 5px;

			&:first-child {
				margin-left: 0px;
			}

			&:last-child {
				margin-right: 0px;
			}
		}

	}

}

@media only screen and (max-width: $page-break-tablet) {

	.content-container {
		padding: 20px 0px;
	}

	.content-wrapper {
		margin-right: 0px;
	}

	.content-img-wrapper {

		float: none;
		margin: 0px 0px 15px 0px;
		width: 100%;

	}

}