footer {

    @include background-image(linear-gradient($main-color, $main-color-80pct));
    background: $main-color;
    color: $white-color;

    .__top {
        padding: 30px 30px 20px 30px;
        img {
            width: 210px;
        }
    }

    .__middle {

        padding: 0px 30px;

        .__inner {
            border-top: 1px dotted $main-color-80pct;
            padding: 20px 0px 23px 15px;
        }

    }

    .__left {
        font-size: 13px;
        line-height: 21px;
        width: 500px;
    }

    .__links {
        float: right;
    }

    .__link {

        padding: 5px 15px 5px 15px;
        text-align: right;
        border-bottom: 1px dotted $main-color-80pct;

        &:first-child {
            padding: 0px 15px 5px 15px;
        }

        &:last-child {
            padding: 5px 15px 0px 15px;
            border: none;
        }

        a {

            color: $white-color;

            &:link, &:visited, &:hover, &:active {
                color: $white-color;
            }

        }
    }

    .__bottom {
        border-top: 1px dotted $main-color-60pct;
        padding: 20px 30px;
    }



}

@media only screen and (max-width: $page-break-tablet) {

    footer {

        .__top {
            padding: 35px 30px 20px 30px;
        }

        .__middle {

            padding: 0px 30px;

            .__inner {
                display: block;
                padding: 0px
            }

        }

        .__left {
            width: auto;
            padding: 20px 0px 23px 15px;
            border-bottom: 1px dotted $main-color-80pct;
        }

        .__links {
            float: none;
            padding: 0px 0px 30px 0px;
        }

        .__link {

            text-align: left;
            padding: 10px 15px 10px 15px;

            &:first-child {
                padding: 10px 15px 10px 15px;
            }

            &:last-child {
                padding: 10px 15px 10px 15px;
            }
        }


    }


}