footer {

    @include background-image(linear-gradient($main-color, $main-color-80pct));
    background: $main-color;
    color: $white-color;

    .__top {
        padding: 30px 30px 10px 30px;
    }

    .__left {

        width: 320px;
        padding: 5px 0px 0px 5px;

        img {
            width: 210px;
        }

    }

    .__middle {
        padding-right: 150px;
        font-size: 13px;
        line-height: 21px;
        width: 500px;
    }


    .__links {
        float: right;
    }

    .__link {

        padding: 5px 15px 5px 15px;
        text-align: right;
        border-bottom: 1px dotted $main-color-80pct;

        &:last-child {
            border: none;
        }

        a {

            color: $white-color;

            &:link, &:visited, &:hover, &:active {
                color: $white-color;
            }

        }
    }

    .__bottom {
        border-top: $divider-main;
        padding: 20px 30px;
    }

}

@media only screen and (max-width: $page-break-tablet) {

    footer {

        .__top {
            padding: 30px 30px 0px 30px;
            display: block;
        }

        .__left {
            width: auto;
            padding: 5px 0px 0px 0px;
        }

        .__middle {
            padding: 30px 0px;
            width: auto;
        }

        .__right {
            margin: 0px -30px;
            border-top: 1px dotted $main-color-80pct;
        }

        .__links {
            float: none;
        }

        .__link {

            padding: 0px;
            text-align: left;

            a {
                display: block;
                padding: 15px 30px;
            }

        }



    }


}