input {

    width: 100%;
    height: 46px;
    padding: 0px 10px 0px 10px;
    -webkit-appearance: none;
    border: 1px solid $neutral-color-darker;
    @include border-radius(0px);
    color: $font-color;

    &:focus {
        outline-style: none;
        border: 1px solid $main-color-75pct;
    }

    &::-ms-clear {
        display: none;
    }

    &:-ms-input-placeholder {
        color: $font-accent-color;
    }

}

.form-search {

    position: relative;

    input {
        padding-right: 44px;
    }

    a {
        display: block;
        width:  44px;
        height: 44px;
        position: absolute;
        right: 1px;
        top: 1px;

        i {
            margin-top: 15px;
            margin-left: 16px;
        }

    }

}
