.logobar {
    padding: 35px 0px 30px 15px;
    position: relative;
}

.logo {

	display: block;

    img {
        width: 270px;
    }

}

.dj {

    position: absolute;
    top: 50px;
    right: 10px;

    .__text {
        font-size: 11px;
        color: $neutral-color-darker;
        margin: 40px 1px 11px 0px;
        padding-right: 9px;
        border-right: 1px solid $neutral-color;
    }

    img {
        width: 80px;
    }

    &:link, &:visited, &:hover, &:active {
        color: $neutral-color-darker;
    }

}

@media only screen and (max-width: $page-break-desktop) {

    .dj {
        top: 31px;
    }

}

@media only screen and (max-width: $page-break-tablet) {

    .logobar {
        padding: 35px 0px 50px 5px;
    }

    .dj {

        top: 70px;
        right: 0px;

        .__text {
            font-size: 10px;
            margin: 26px 1px 11px 0px;
            padding-right: 8px;
        }

        img {
            width: 60px;
        }

        &:hover {
            text-decoration: none;
        }

    }

}

@media only screen and (max-width: $page-break-phone) {

    .logobar {
        padding: 25px 0px 44px 0px;
    }

    .logo {

        img {
            width: 230px;
        }

    }

    .dj {

        top: 52px;

        .__text {
            font-size: 9px;
            margin: 20px 1px 11px 0px;
            padding-right: 7px;
        }

        img {
            width: 50px;
        }

    }

}


