header {
    // border-bottom: 1px dotted $main-color-60pct;
}

.logobar {
    padding: 45px 0px 15px 15px;
    position: relative;
}

.logo {

	display: block;

    img {
        width: 270px;
    }

}

.dj {

    position: absolute;
    top: 31px;
    right: 10px;

    .__text {
        font-size: 12px;
        color: $neutral-color-lighter;
        margin: 42px 1px 11px 0px;
        padding-right: 10px;
        border-right: 1px solid $neutral-color;
    }

    img {
        width: 80px;
    }

}

@media only screen and (max-width: $page-break-tablet) {

    .logobar {
        padding: 35px 0px 30px 15px;
    }

}

@media only screen and (max-width: $page-break-phone) {

    .logobar {
        padding: 30px 0px 25px 10px;
    }

    .logo {

        img {
            width: 260px;
        }

    }

}


