.logobar {
    padding: 50px 0px 30px 15px;
}

.logo {

	display: block;

    img {
        width: 335px;
    }

}

@media only screen and (max-width: $page-break-ipad) {

    .logobar {
        padding: 35px 0px 30px 15px;
    }

    .logo {

        img {
            width: 335px;
        }

    }

}

@media only screen and (max-width: $page-break-phone) {

    .logobar {
        padding: 25px 0px 25px 10px;
    }

    .logo {

        img {
            width: 260px;
        }

    }

}


