.home-h2 {
    margin: 30px 0px;


    color: $white-color;
    font-weight: normal;
    font-size: 22px;
    position: relative;

    border-top: 5px solid $main-color-80pct;

    /*&:after {
        display: block;
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        @include transform(translate3d(-50%, 0, 0));
        border-top: 10px solid $main-color-80pct;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }*/

    span {
        display: inline-block;
        background: $main-color-80pct;
        padding: 13px 15px;
    }

}

.home-teaser-1 {

    border: 1px solid $main-color-40pct;
    // border-top: none;

    .__headline {

        position: relative;
        background: $main-color;

        h1 {

            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            font-size: 26px;
            line-height: 38px;
            font-weight: 500;
            color: $white-color;
            padding: 25px 35px;

        }

    }

    .__img {

        position: relative;

        .__link-wrap {
            position: absolute;
            right: 15px;
            bottom: 15px;
            text-align: right;
        }

        .__link {

            font-size: 16px;
            display: inline-block;
            text-align: center;
            color: $white-color;
            background: $main-color;
            padding: 13px 15px;
            @include border-radius(1px);
            font-weight: 600;

            i {
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }

}

.home-teaser-2 {

    margin-top: 30px;

    .__main {

        border: 1px solid $main-color-40pct;
        margin-right: 15px;
        height: 291px;

        .__img {

            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                position: absolute;
                top: 50%;
                @include transform(translate3d(0, -50%, 0));
            }

        }

        .__text {

            width: 465px;
            padding: 15px;
            background: $main-color;
            color: $white-color;
            position: relative;

            a {
                color: $white-color;
            }

        }

        .__headline {
            display: block;
            font-size: 20px;
            padding-bottom: 15px;
            border-bottom: 1px dotted $white-color;
            margin-bottom: 13px;
        }

        .__readmore {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }

    }

    .__minis {

        .__row {

            &:first-child {
                margin-bottom: 15px;
            }

        }

    }

    .__mini-quad {

        display: block;
        width: 138px;
        height: 138px;
        border: 1px solid $neutral-color-lighter;
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% auto;

        &:first-child {
            margin-right: 15px;
        }

        span {
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            color: $main-color;
            background: $white-color;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
            padding: 7px 5px;
        }

        &:hover {
            span {
                text-decoration: underline;
            }
        }

    }

}

@media only screen and (max-width: $page-break-desktop) {

    ///////////////////////////////////////////////////
    ///////////////////////////////////////////////////

    .home-teaser-1 {

        .__headline {

            h1 {

                font-size: 22px;
                line-height: 30px;
                padding: 25px 35px;

            }

        }

        .__img {

            img {
                width: 400px;
            }

        }

    }

    ///////////////////////////////////////////////////
    ///////////////////////////////////////////////////

    .home-teaser-2 {

        display: block;

        .__main {

            margin-right: 0px;
            margin-bottom: 15px;

        }

        .__minis {

            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;

            .__row {

                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .__mini-quad {

                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                }

                &:first-child {

                    .__mini-quad {

                        margin-right: 16px;

                        &:last-child {
                           margin-right: 8px;
                        }

                    }

                }

                &:last-child {

                    margin-bottom: 0px;

                    .__mini-quad {

                        margin-right: 0px;
                        margin-left: 8px;

                        &:last-child {
                            margin-left: 16px;
                        }

                    }

                }

            }

        }



    }

}

@media only screen and (max-width: $page-break-tablet) {


    .home-teaser-1 {

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .__headline {

            h1 {

                position: static;
                padding: 25px 25px;

            }

        }

        .__img {

            img {
                width: 100%;
            }

            .__link-wrap {
                right: 15px;
                left: 15px;
                text-align: center;
            }


        }

    }

}

@media only screen and (max-width: $special-teaser-break) {


    .home-teaser-2 {

        .__main {

            display: block;
            height: auto;

            .__img {

                position: relative;
                overflow: hidden;
                width: auto;
                height: 200px;

                img {
                    width: auto;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    @include transform(translate3d(-50%, 0, 0));
                }

            }

            .__text {
                width: auto;
            }

        }

        .__minis {

            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;

            .__row {

                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .__mini-quad {

                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                }

                &:first-child {

                    .__mini-quad {

                        margin-right: 16px;

                        &:last-child {
                           margin-right: 8px;
                        }

                    }

                }

                &:last-child {

                    margin-bottom: 0px;

                    .__mini-quad {

                        margin-right: 0px;
                        margin-left: 8px;

                        &:last-child {
                            margin-left: 16px;
                        }

                    }

                }

            }

        }



    }

}

@media only screen and (max-width: $page-break-phone) {

    .home-teaser-1 {

        .__headline {

            h1 {

                font-size: 22px;
                line-height: 30px;
                padding: 20px;

            }

        }

        .__img {

            .__link-wrap {
                right: 10px;
                left: 10px;
                bottom: 10px;
            }

            .__link {

                font-size: 14px;
                padding: 13px 10px;

                i {
                    font-size: 11px;
                    margin-left: 8px;
                }
            }

        }

    }

    .home-teaser-2 {


        .__minis {

            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;

            .__row {

                -webkit-flex: none;
                -ms-flex: none;
                flex: none;

                .__mini-quad {

                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                }

                &:first-child {

                    .__mini-quad {

                        margin-right: 15px;

                        &:last-child {
                           margin-right: 0px;
                        }

                    }

                }

                &:last-child {

                    margin-bottom: 0px;

                    .__mini-quad {

                        margin-right: 0px;
                        margin-left: 0px;

                        &:last-child {
                            margin-left: 15px;
                        }

                    }

                }

            }

        }



    }


}