* {
    @include box-sizing(border-box);
}

ul {
	-webkit-padding-start: 0px;
	list-style-position: outside;
}

.cla {
	&:after {
        display: block;
        content: '';
        clear: both;
    }
}

.cl {
	clear: both;
}

.ta-r {
	text-align: right;
}

.hidden {
	display: none;
}

body {
    // background: $background-color;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 24px;
	font-size: 14px;
}

.flex-container {

    display: -webkit-flex;
    display: -ms-flex;
  	display: flex;

    ._column {
        flex-direction: column;
    }

}

.flex {
	-webkit-flex: 1;
	-ms-flex: 1;
    flex: 1;
}


.main-container {
    padding: 0px 30px;
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
}

a {

    text-decoration: none;
	cursor: pointer;

	&:link, &:visited, &:hover, &:active {
		color: $link-color;
	}

	&:hover, &:active {
		text-decoration: underline;
	}
}

@media only screen and (max-width: $page-break-tablet) {

    .main-container {
        padding: 0px 10px;
        width: 100%;
    }

    .flex-container {
        &._desktop {
            display: block;
        }
    }

}