.sf-menu {

    float: none;
    margin-bottom: 0px;
    border-bottom: 1px dotted $main-color-60pct;

    > li {

        background: transparent;

        a {
            border: none;
            font-size: 18px;
            font-weight: 600;
            padding: 13px 15px;
            color: $main-color-80pct;

        }

        ul {

            @include box-shadow(none);
            border: none;

            li {

                border: none;
                background: $main-color;

                a {
                    padding: 12px 12px;
                    font-weight: normal;
                    border-top: none;
                    border-bottom: 1px dotted $main-color-80pct;
                    text-transform: none;
                    text-decoration: none;
                    color: #FFF;
                    font-size: 14px;
                }

                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }

                &:hover {

                    background: $main-color-80pct;

                    a {
                        text-decoration: none;
                    }

                }
            }
        }

        &:active,
        &:hover,
        &.active,
        &.sfHover {

            background: transparent;

            a {
                color: $main-color;
                text-decoration: none;
            }

            ul {
                li {
                    a {
                        color: $white-color;
                    }
                }
            }
        }

    }

    &.sf-arrows {

        > li {

            .sf-with-ul {

                padding-right: 35px;

                &:after {
                    border-top-color: $main-color-80pct;
                    margin-top: -1px;
                }
            }

            &.active {

                .sf-with-ul {
                    &:after {
                        border-top-color: $main-color;
                    }
                }

            }
        }
    }
}

#mobnav-btn {

    display: none;
    font-size: 18px;
    font-weight: normal;
    background-color: $main-color;
    color: white;
    padding: 13px 15px;
    cursor: pointer;

    i {
        margin: 2px 5px 0px 0px;
        float: right;
    }

    .__text {
        position: relative;
        top: -1px;
    }

}

.mobnav-subarrow {
    display: none;
}

@media only screen and (max-width: $page-break-ipad) {

    .sf-menu {

        border-bottom: none;

        > li {

            a {
                border-bottom: 1px solid $neutral-color;
            }

            &:hover,
            &.sfHover {
                a {
                    color: $main-color-80pct;
                }
            }

            &.xpopdrop,
            &.active {

                a {
                    color: $main-color;
                }

                ul {
                    li {
                        a {
                            color: $white-color;
                        }
                    }
                }
            }
        }

        &.sf-arrows {

            > li {

                &.xpopdrop,
                &.active {
                    .sf-with-ul {
                        &:after {
                            border-top-color: $main-color;
                        }
                    }
                }
            }
        }

    }

    #mobnav-btn {
        display: block;
    }

    .mobnav-subarrow {
        display: block;
        background-color: transparent;
        opacity: 1;
        border-bottom: none;
        border-top: none;
        height: 48px;
        width: 48px;
        position: absolute;
        top: 0px;
        right: 0px;
        @include border-radius(0px);
        cursor: pointer;

    }

}