.menu-wrapper {
    // padding-top: 45px;
}

.sf-menu {

    float: none;
    margin-bottom: 0px;
    border-bottom: 1px dotted $main-color-60pct;

    > li {

        background: $white-color;

        a {
            border: none;
            font-size: 16px;
            padding: 13px 15px 12px 15px;
            color: $main-color;
            text-align: center;

            .spaceholder {
                display:block;
                font-weight: 600;
                height:1px;
                color:transparent;
                overflow:hidden;
                visibility:hidden;
            }

        }

        ul {

            @include box-shadow(none);
            border: 1px dotted $main-color-60pct;
            border-top: none;

            li {

                border: none;
                background: #fff;

                a {

                    padding: 12px 15px;
                    font-weight: normal;
                    border-top: none;
                    border-bottom: 1px dotted $main-color-60pct;
                    text-transform: none;
                    text-decoration: none;
                    color: $main-color;
                    font-size: 14px;
                    text-align: left;

                    &:after {
                        display: none;
                    }

                }

                &:first-child {
                    a {
                        border-top: 1px dotted $main-color-60pct;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }

            }
        }

        &:active,
        &:hover,
        &.active,
        &.sfHover {

            background: $white-color;

            a {

                text-decoration: none;
                font-weight: 600;

            }

            ul {
                li {

                    a {
                        text-decoration: none;
                        font-weight: 500;
                    }

                    &:hover {

                        background: $main-color-80pct;

                        a {
                            text-decoration: none;
                            color: $white-color;
                        }
                    }


                }
            }
        }

    }

    &.sf-arrows {

        > li {

            .sf-with-ul {

                padding-right: 35px;

                &:after {
                    border-top-color: $main-color-80pct;
                    margin-top: -1px;
                }
            }

            &.active {

                .sf-with-ul {
                    &:after {
                        border-top-color: $main-color;
                    }
                }

            }
        }
    }
}

#mobnav-btn {

    display: none;
    font-size: 22px;
    font-weight: normal;
    background-color: $main-color;
    color: white;
    padding: 13px 10px 13px 15px;
    cursor: pointer;

    i {
        font-size: 18px;
        margin: 2px 5px 0px 0px;
        float: right;
    }

    .__text {
        position: relative;
        top: -1px;
    }

}

.mobnav-subarrow {
    display: none;
}

@media only screen and (max-width: $page-break-ipad) {

    .sf-menu {

        border-bottom: none;

        > li {

            a {

                border-bottom: 1px dotted $main-color-60pct;
                text-align: left;

            }

            &:hover,
            &.sfHover {
                a {
                    color: $main-color;
                }
            }

            &.xpopdrop,
            &.active {

                a {
                    color: $main-color;
                }

                ul {

                    border: none;

                    li {
                        a {
                            background: $main-color-80pct;
                            color: $white-color;
                        }

                        &:last-child {
                            a {
                                border-bottom: 1px dotted $main-color-60pct;
                            }
                        }
                    }
                }
            }
        }

        &.sf-arrows {

            > li {

                .sf-with-ul {
                    &:after {
                        right: 19px;
                    }
                }

                &.xpopdrop,
                &.active {
                    .sf-with-ul {
                        &:after {
                            border-top-color: $main-color;
                        }
                    }
                }
            }
        }

    }

    #mobnav-btn {
        display: block;
    }

    .mobnav-subarrow {
        display: block;
        background-color: transparent;
        opacity: 1;
        border-bottom: none;
        border-top: none;
        height: 48px;
        width: 48px;
        position: absolute;
        top: 0px;
        right: 0px;
        @include border-radius(0px);
        cursor: pointer;

    }

}