.sidebar {

	width: 300px;

	.sidebar-item {

		margin: 15px 0px;

		&._about-us {
			// border: 1px solid $neutral-color-lighter;
			// padding: 15px;
		}

		&:first-child {
			margin-top: 0px;
		}

	}

	h3 {
		color: $font-grey-color;
		font-size: 16px;
		font-weight: 500;
	}

	.about-us {

		color: $font-accent-color;
		font-size: 12px;
		line-height: 22px;

		h3 {
			margin-top: 0px;
			padding-top: 15px;
			margin-bottom: 10px;
		}

	}

	.sidebar-menu-hl {
		margin-bottom: 15px;
		padding: 12px 15px;
		color: $white-color;
		background: $neutral-color-lighter-1;
	}

	.sidebar-menu {

		-webkit-padding-start: 0px;
		list-style-type: none;
		padding-bottom: 20px;
		border-top: 1px dotted $main-color-60pct;


	}

	.sidebar-menu-item {

		position: relative;

		a {

			border-bottom: 1px dotted $main-color-60pct;
			padding: 12px 15px;
			display: block;
			color: $main-color;
			font-size: 16px;

			&:hover, &:active {
				text-decoration: none;
				font-weight: 600;
			}

		}

		.__submenu {
			-webkit-padding-start: 0px;
			list-style-type: none;
			display: none;
		}

		&._actual-page {
			> a {
				font-weight: 600;
			}
		}

		&.active {

			.__submenu {

				display: block;

				.__submenu-item {

					a {

						padding: 12px 10px 12px 23px;
						font-weight: 500;
						font-size: 14px;

						&:hover, &:active, &:focus, &._active {
							background: $main-color-80pct;
							color: $white-color;
							text-decoration: none;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	.sidebar-menu-submenu-toogle {

		color: $main-color;
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		width: 48px;
		height: 48px;
		text-align: center;
		cursor: pointer;

		i {
			margin-top: 16px;
		}

		&:hover {
			background: $main-color-thin;
		}

	}

}

@media only screen and (max-width: $page-break-tablet) {

	.sidebar {
		padding-top: 20px;
		width: 100%;
	}

	.sidebar-menu-submenu-toogle {

		&:hover {
			background: transparent;
		}

		&:active {
			background: $main-color-thin;
		}

	}

}