.teaser-1-big-left-4-small-right {

    .__main {

        border: 1px solid $main-color-40pct;
        margin-right: 15px;
        height: 291px;

        .__img {

            position: relative;
            overflow: hidden;

            img {
                height: 100%;
                position: absolute;
                left: 50%;
                @include transform(translate3d(-50%, 0, 0));
            }

        }

        .__text {

            width: 420px;
            padding: 15px;
            background: $main-color;
            color: $white-color;
            position: relative;

            a {
                color: $white-color;
            }

        }

        .__headline {
            display: block;
            font-size: 20px;
            padding-bottom: 15px;
            border-bottom: 1px dotted $white-color;
            margin-bottom: 13px;
        }

        .__readmore {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }

    }

    .__minis {

        .__mini-item {

            display: block;
            width: 138px;
            height: 138px;
            border: 1px solid $neutral-color-lighter;
            position: relative;
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: center top;

            &:first-child {
                margin-right: 15px;
            }

            span {
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                color: $main-color;
                background: $white-color;
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                text-align: center;
                padding: 7px 5px;
            }

            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }

        .__row {

            &:first-child {
                margin-bottom: 15px;
            }

        }

    }

}

@media only screen and (max-width: $special-teaser-break-ipad-ls) {

    .teaser-1-big-left-4-small-right {
        .__main {
            .__text {
                width: 335px;
            }
        }
    }
}

@media only screen and (max-width: $page-break-desktop) {


    .teaser-1-big-left-4-small-right {

        display: block;

        .__main {

            margin-right: 0px;
            margin-bottom: 15px;

            .__text {
                width: 490px;
            }

        }

        .__minis {

            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;

            .__row {

                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .__mini-item {

                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    background-size: 100% auto;

                }

                &:first-child {

                    margin-bottom: 0px;

                    .__mini-item {

                        margin-right: 16px;

                        &:last-child {
                           margin-right: 8px;
                        }

                    }

                }

                &:last-child {

                    .__mini-item {

                        margin-right: 0px;
                        margin-left: 8px;

                        &:last-child {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $page-break-tablet) {

    .teaser-1-big-left-4-small-right {

        .__main {
            .__text {
                width: 335px;
            }
        }

        .__minis {

            .__row {

                .__mini-item {

                    background-size: auto 100%;

                }
            }
        }
    }

}

@media only screen and (max-width: $special-teaser-break) {

    .teaser-1-big-left-4-small-right {

        .__main {

            display: block;
            height: auto;

            .__img {

                img {
                    width: 100%;
                    height: auto;
                    position: static;
                    @include transform(translate3d(0, 0, 0));
                }

            }

            .__text {
                width: auto;
                padding-bottom: 39px;
            }

        }

        .__minis {

            .__row {

                &:first-child {

                    .__mini-item {

                        margin-right: 16px;

                        &:last-child {
                           margin-right: 8px;
                        }

                    }

                }

                &:last-child {

                    margin-bottom: 0px;

                    .__mini-item {

                        margin-right: 0px;
                        margin-left: 8px;

                        &:last-child {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $page-break-phone) {

    .teaser-1-big-left-4-small-right {

        .__minis {

            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;

            .__row {

                -webkit-flex: none;
                -ms-flex: none;
                flex: none;

                &:first-child {

                    margin-bottom: 15px;

                    .__mini-item {

                        margin-right: 15px;

                        &:last-child {
                           margin-right: 0px;
                        }

                    }

                }

                &:last-child {

                    margin-bottom: 0px;

                    .__mini-item {

                        margin-right: 0px;
                        margin-left: 0px;

                        &:last-child {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}