.teaser-main {

    border: 1px solid $main-color-40pct;

    .__headline {

        position: relative;
        background: $main-color-80pct;

        h1, .__sub {
            color: $white-color;
        }

        h1 {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            margin: 0px 25px;
            padding: 20px 0 22px 0;
            font-size: 26px;
            line-height: 38px;
            font-weight: 400;
            background: transparent;
            border-bottom: 1px dotted $main-color-20pct;
        }

        .__sub {
            position: absolute;
            bottom: 20px;
            left: 25px;
            right: 25px;
            font-size: 16px;
            line-height: 26px;
        }

    }

    .__img {

        position: relative;

        img {
            width: 450px;
        }

        .__link-wrap {
            position: absolute;
            right: 15px;
            bottom: 15px;
            text-align: right;
        }

        .__link {

            font-size: 16px;
            display: inline-block;
            text-align: center;
            color: $white-color;
            background: $main-color-80pct;
            padding: 13px 15px;
            @include border-radius(1px);
            font-weight: 600;

            i {
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
}

@media only screen and (max-width: $page-break-desktop) {

    .teaser-main {

        .__headline {

            h1 {

                font-size: 22px;
                line-height: 30px;
                padding: 20px 0 22px 0;

            }

            .__sub {
                bottom: 20px;
                left: 25px;
                right: 35px;
                font-size: 14px;
                line-height: 24px;
            }

        }

        .__img {

            img {
                width: 400px;
            }

        }

    }

}

@media only screen and (max-width: $page-break-tablet) {

    .teaser-main {

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .__headline {

            .__sub {
                position: static;
                padding: 18px 25px 20px 25px;
            }

        }

        .__img {

            img {
                width: 100%;
            }

            .__link-wrap {
                right: 15px;
                left: 15px;
                text-align: center;
            }
        }
    }

}

@media only screen and (max-width: $page-break-phone) {

    .teaser-main {

        .__headline {
            .__sub {
                //position: static;
                //padding: 18px 25px 20px 25px;
            }
        }

        .__img {

            .__link-wrap {
                right: 10px;
                left: 10px;
                bottom: 10px;
            }

            .__link {

                font-size: 14px;
                padding: 13px 10px;

                i {
                    font-size: 11px;
                    margin-left: 8px;
                }
            }
        }
    }

}
