/* sizes and page breaks*/
$page-break-tablet: 768px;
$page-break-desktop: 992px;

/* colors */
$background-color: #f7f7f7;
$main-color: #50aa07;
$accent-color: #e0e0e0;


/* fonts */
$font-color: #747474;
$font-accent-color: #848789;

/* links */
$link-weight: normal;
$link-decoration: none;
$link-color: $main-color;
$link-color-hover: $main-color;

/* menu */
$menu-bottom-border-width: 3px;
$menu-link-color: #333333;
$menu-link-color-hover: $main-color;


