/* sizes and page breaks*/
$page-break-phone: 412px;
$special-teaser-break: 600px;
$special-teaser-break-ipad-ls: 1024px;
$page-break-ipad: 768px;
$page-break-tablet: 800px;
$page-break-desktop: 992px;


/* colors */
$white-color: #ffffff;
$background-color: #f7f7f7;
$main-color: #50aa07;
$main-color-80pct: #74bb39;
$main-color-60pct: #97cc6a;
$main-color-40pct: #b9dd9c;
$main-color-20pct: #dceecd;
$main-color-10pct: #edf6e6;
$main-color-thin: #f6fbf2;

$neutral-color: #cccccc;
$neutral-color-darker: #bbbbbb;
$neutral-color-lighter: #dddddd;
$neutral-color-lighter-1: #d7d7d7;
$neutral-color-lighter-2: #eeeeee;
$light-grey-color: #f3f3f3;

/* fonts */
$font-color: #333333;
$font-accent-color: #999999;
$font-grey-color: #555555;

/* links */
$link-weight: normal;
$link-decoration: none;
$link-color: $main-color;
$link-color-hover: $main-color;

/* borders */

$divider-main: 1px dotted $main-color-60pct;
$divider-neutral: 1px dotted $neutral-color-darker;
$divider-neutral-light: 1px dotted $neutral-color;


