/* line 1, sass/admin.scss */
.admin-header {
  background: #fff;
}

/* line 5, sass/admin.scss */
.admin-left {
  width: 16%;
  float: left;
  margin-right: 1%;
}

/* line 11, sass/admin.scss */
.admin-right {
  background: #ddd;
  width: 83%;
  float: left;
}

/* line 17, sass/admin.scss */
.admin-footer {
  border-top: 1px #ccc solid;
  margin-top: 40px;
  color: #ccc;
  font-size: 13px;
}

/* permissions - checkboxes */
/* line 25, sass/admin.scss */
#permissions_field_box {
  margin-top: 10px;
}

/* line 28, sass/admin.scss */
#permissions_display_as_box {
  color: #222;
  font-size: 15px;
  line-height: 16px;
  padding: 0;
}

/* line 34, sass/admin.scss */
ul.permissions_list {
  margin-left: 5px;
}

/* line 37, sass/admin.scss */
.permissions_list li {
  color: #444;
  list-style-type: none;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
}

/* line 45, sass/admin.scss */
ul.permissions_list li input {
  margin: 0 10px 10px 0;
}
